body{
    margin-left:500px;
    background-color:rgb(123, 116, 116);
}
.card{
    background-color:aquamarine;
    color:black;
    width:400px;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
}
.search{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    background: #ebfffc;
    color:#555;
    padding:10px 20px;
    height:50px;
    width:250px;
    border-radius:25px;
    margin-right:20px;
    font-size:16px;
}
.search button{
    border:0;
    outline:0;
    background: #ebfffc;
    border-radius:40%;
    width:70px;
    height:70px;
    cursor:pointer;

}
.search button img{
    width:18px;
}
.weathericon
{
    width:170px;
    margin-top:30px;
}
.weather h1{
    font-size:80px;
    font-weight:500;
}
.weather h2{
    font-size:40px;
    font-weight:350;
    margin-top:-10px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin-top:50px;
}
.col{
    display:flex;
    align-items:center;
    text-align:left;
}
.com img{
    width:40px;
    margin-right:30px;
}
.humidity,.wind{
    font-size:18px;
    margin-top:-6px;
}
.weather{
    display:none;
}
.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display:none;

}